---
import PageLayout from "@layouts/PageLayout.astro";
import BrandFlag from "~components/ui/BrandFlag.astro";
import Artists from "@components/artists/Artists.astro";
---

<PageLayout title="LastMessengerS Artist page" description="Discover all LastMessengerS and their Truth Unveiling Music">
	<section class="bg-cover bg-center w-full" style="background-image: url('https://source.unsplash.com/random?Stage%20performance');">
		<div class="bg-black/75 md:p-28 p-6 pt-24 text-left text-white">
			<div class="container mx-8 flex portrait:flex-col gap-8 items-center">
				<div class="landscape:w-1/3 portrait:w-full portrait:order-1">
					<img src="https://source.unsplash.com/random?music%20performance" class="h-72 w-3/4 object-cover rounded-xl" alt="Layout Image">
				</div>
				<div class="landscape:w-2/3">
					<BrandFlag />
					<h1 class="unstyled text-5xl font-medium my-8">Meet our Artists</h1>
					<p class="unstyled text-3xl mb-12">Welcome dear Listener! Allow us to Introduce our highly Valued Stars.</p>
				</div>

			</div>
		</div>
	</section>

	<Artists />

	<section>
		<!-- Background image -->
		<div class="relative overflow-hidden bg-no-repeat bg-cover" style="background-position: 50%;background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/146.webp');height: 350px;">
			<div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed" style="background-color: rgba(0, 0, 0, 0.75)">
				<div class="flex justify-center items-center h-full">
					<div class="text-center text-white px-6 md:px-12">
						<h1 class="text-5xl font-bold mt-0 mb-6">Want to Join</h1>
						<h3 class="text-3xl font-bold mb-8">LastMessengerS Managed Artist Platform...</h3>
						<a href="/contact-us" type="button"
							class="inline-block px-6 py-2.5 border-2 border-white text-white font-medium text-xs leading-tight uppercase rounded hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out"
							data-mdb-ripple="true" data-mdb-ripple-color="light">
							Reach out
						</a>
					</div>
				</div>
			</div>
		</div>
		<!-- Background image -->
	</section>
</PageLayout>
