---
import BaseLayout from "@layouts/BaseLayout.astro";
import Album from "@components/music/Album.astro";
import Artists from "@components/artists/Artists.astro";

---

<BaseLayout >
<Album />
<section>
  <h2 class="unstyled title marker text-white text-5xl my-8">Album Artists</h2>
  <Artists />
</section>

</BaseLayout>
