---
import { getEntryBySlug } from "astro:content";

import BaseLayout from "@layouts/BaseLayout.astro";
import Album from "@components/music/Album.astro";
import Artists from "@components/artists/Artists.astro";

let unityAlbum = await getEntryBySlug('albums', 'unity-album-2022')
let { title, image, imageAlt, seoTitle, description } = unityAlbum.data

---

<BaseLayout title={seoTitle || title} image={image} imageAlt={imageAlt || seoTitle || title} description="Restoring one of the Ancient music values~TRURH, by packing messages as enjoyable songs targeting curious ears of the general public." >
<Album />
<section class="m-8">
  <h2 class="unstyled title marker text-white text-5xl my-8">Album Artists</h2>
  <Artists />
</section>

</BaseLayout>
