---
import { Image } from "@astrojs/image/components";
import { getCollection } from 'astro:content';

const artists = await getCollection('artists');
const tracks = await getCollection('tracks');
const artistAndTrack = artists.filter(artist => artist.data?.active).map(artist => mapTrack(artist))

function mapTrack(artist) {
	const track = tracks.filter(track => track.data.title == artist.data.discography)[0]
	artist.data.track = {...track}
	return artist
}
---
	<div class="grid landscape:grid-flow-row landscape:md:grid-cols-2 landscape:lg:grid-cols-3 landscape:xl:grid-cols-4 portrait:xs:grid-cols-1 portrait:sm:grid-cols-2 portrait:md:grid-cols-3 gap-8 justify-center mb-8 mx-8">
		{artistAndTrack.map((artist) => (
		<span>
			{ artist.data.active &&
		<div style={"background-image: url('/images/animated-bg/" + ( artist.data?.track.data?.bg || "mmiri-anwu-elu")  + ".gif');"} class={"card card-hover relative overflow-hidden bg-slate-900/20 transition-transform duration-200 ease-in-out hover:scale-110 rounded-xl " + artist.data?.track.data?.bgColor + " " + artist.data?.track.data?.bgBlend + " " + artist.data?.track.data?.bgPosition + " " + artist.data?.track.data?.bgSize }>
			<div class="max-w-xs mt-5 ml-auto right-0">
			<img class="aspect-square" loading="lazy" width={320} aspectRatio={1/1} src={artist.data.image} alt={"Profile Picture of " + artist.data.title} />
			</div>
			<div class="absolute top-50 right-0 bottom-0 left-0 p-5 w-full h-full overflow-hidden bg-fixed bg-black/20 hover:bg-transparent flex flex-col justify-end font-shadow">
				<h2 class="title marker text-yellow-400 uppercase portrait:text-3xl landscape:xs:text-sm landscape:sm:text-md landscape:md:text-lg landscape:lg:text-xl landscape:xl:text-2xl drop-shadow" >
					{artist.data.title}
				</h2>

				<h3 class="subtitle uppercase portrait:text-xl landscape:xs:text-sm landscape:sm:text-md landscape:md:text-lg landscape:lg:text-xl landscape:xl:text-2xl">
					{artist.data.name != 'unknown' && "A.K.A: " + artist.data.name}
				</h3>
			</div>
			{artist.slug &&
			<a class="z-20 absolute top-0 left-0 w-full h-full" href={"/artists/" + artist.slug}>
			</a>}
		</div>
		}
		</span>
		))}
	</div>