---
// import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';

const artist = await Astro.props?.artist
const tracks = await getCollection('tracks')

if (artist && tracks) {
    artist.data.track = {...tracks.find(track => track.data.title == artist.data.discography)}
}
---

<div style={"background-image: url('/images/animated-bg/" + ( artist.data?.track.data?.bg || "mmiri-anwu-elu")  + ".gif');"} class={"card relative overflow-hidden bg-slate-900/20  " + artist.data?.track.data?.bgColor +  " " + artist.data?.color + " " + artist.data?.track.data?.bgBlend + " " + artist.data?.track.data?.bgPosition + " " + artist.data?.track.data?.bgSize }>
	<img loading="lazy" width={320} aspectRatio={1/1} class="max-w-xs mt-5 ml-auto right-0" src={artist.data?.image} alt={"Profile Picture of " + artist.data?.title} transition:name={"image-" + artist.slug}/>
	<div class="absolute top-0 right-0 bottom-0 left-0 p-5 w-full h-full overflow-hidden bg-fixed bg-black/20 hover:bg-transparent flex flex-col justify-end font-shadow">
		<h2 class="title marker uppercase drop-shadow-md text-red-500 dark:text-yellow-300 portrait:text-3xl landscape:xs:text-sm landscape:sm:text-md landscape:md:text-lg landscape:lg:text-xl landscape:xl:text-2xl text-shadow">
			{artist.data?.title}
		</h2>

		{ artist.data?.name != 'unknown'  &&
		<h3 class="subtitle uppercase drop-shadow-md portrait:text-xl landscape:xs:text-sm landscape:sm:text-md landscape:md:text-lg landscape:lg:text-xl landscape:xl:text-2xl">
			<span>A.K.A: {artist.data?.name}</span>
		</h3>
		}
	</div>
	{artist?.slug &&
		<a class="absolute top-0 left-0 w-full h-full" href={"/artists/" + artist?.slug}></a>
	}
</div>