---
import { Image } from '@astrojs/image/components';
import { getCollection } from 'astro:content';

const artist = await Astro.props?.artist
const tracks = await getCollection('tracks')

if (artist && tracks) {
    console.log(artist.data, tracks[0].data.title)
    artist.data.track = {...tracks.find(track => track.data.title == artist.data.discography)}
}
---

<div class={"relative overflow-hidden bg-slate-900/20 transition-transform duration-700 " + artist?.data.track.data?.bgColor + " " + artist?.data.color + " ease-in-out hover:scale-110 hover:z-10 rounded"} data-mdb-ripple="true" data-mdb-ripple-color="light">
	<Image width={320} aspectRatio={1/1} class="lazy max-w-xs mt-5 ml-auto right-0" src={artist?.data.image} alt={"Profile Picture of " + artist?.data.title}/>
    <div class="absolute top-0 right-0 bottom-0 left-0 p-5 w-full h-full overflow-hidden bg-fixed bg-black/20 hover:bg-transparent flex flex-col justify-end font-shadow">
		<h2 class="title marker uppercase drop-shadow-md text-red-500 dark:text-yellow-300 portrait:text-3xl landscape:xs:text-sm landscape:sm:text-md landscape:md:text-lg landscape:lg:text-xl landscape:xl:text-2xl text-shadow">
			{artist?.data.title}
		</h2>

		{ artist?.data.name != 'unknown'  &&
		<h3 class="subtitle uppercase drop-shadow-md portrait:text-xl landscape:xs:text-sm landscape:sm:text-md landscape:md:text-lg landscape:lg:text-xl landscape:xl:text-2xl">
			<span>A.K.A: {artist?.data.name}</span>
		</h3>
		}
	</div>
	{artist?.slug &&
		<a class="absolute top-0 left-0 w-full h-full" href={"/artists/" + artist?.slug}></a>
	}
</div>