---
import BaseLayout from "~layouts/BaseLayout.astro";
---

<BaseLayout title="LastMessengerS - Webforms" description="Aba Celebrities Awards">
    <div class="max-h-[90vh] h-[90vh]" style="background:orange; min-height: 90vh; background-image:src('/images/loader.gif');" data-tf-widget="A2LB4Zve" data-tf-opacity="100" data-tf-inline-on-mobile data-tf-iframe-props="title=Customer Feedback Survey" data-tf-transitive-search-params data-tf-disable-scroll data-tf-auto-resize data-tf-medium="snippet" style="width:100%;height:500px;"></div>
    <script src="https://embed.typeform.com/next/embed.js" client:only></script>
</BaseLayout>
