---
import { Image } from '@astrojs/image/components';
import BrandFlag from '~components/ui/BrandFlag.astro';
import BaseLayout from "@layouts/BaseLayout.astro";
import Linkcasts from "@components/linkcasts/Linkcasts.astro"
import Album from "@components/music/Album.astro";
---

<BaseLayout title="LastMessengerS - Artist Management Platform" image="/images/manifest/apple-touch-startup-image-2048x1496.png" description="Truth Based Music Management. Connecting Truthspreading Artists, with lucrative tools and fair management.">
	<!-- <Album /> -->

	<Linkcasts />

	<div class="min-w-screen min-h-screen bg-yellow-300 flex items-center py-24 px-10 overflow-hidden relative">
		<div class="w-full max-w-6xl rounded bg-white shadow-xl p-10 lg:p-20 mx-auto text-gray-800 relative md:text-left">
			<Image loading="lazy" aspectRatio={19/3} width={1280} height={202} src="/uploads/posts/cubana-artkids-202.jpg" class="w-full relative z-10" alt="Cubana ArtKids Title Image" />
			<div class="md:flex items-center portrait:flex-col -mx-10">
				<div class="w-full md:w-1/2 px-10 mb-10 md:mb-0">
					<div class="relative">
						<Image loading="lazy" aspectRatio={11/16} width={640} height={930} src="/uploads/posts/cubana-artkids-2022.jpg" class="w-full relative z-10" alt="Cubana ArtKids Poster" />
					</div>
				</div>
				<div class="w-full md:w-1/2 px-10">
					<div class="mb-10">
						<h2 class="font-bold uppercase text-2xl mb-5">CUBANA~ARTKIDS® '22</h2>
						<dl class="text-xl mb">
							<b>Event:</b> Talent Showcase<br/>
							<b>Venue:</b> Cubana Lounge Owerri<br/>
							<b>Date:</b> 17 DEC. 2022<br />
							<b>Time:</b> 8:00 PM<br/>
						</dl>
						<p class="text-xl mb-5">Cubana Lounge and ArtKids® Holland welcome you to our very first Cubana~Artkids® Talent showcase; happening on the 17th of Dec. 2022 @Cubana Lounge Owerri.  <!--a href="#" class="opacity-50 text-gray-900 hover:opacity-100 inline-block text-xs leading-none border-b border-gray-900">MORE <i class="mdi mdi-arrow-right"></i></a--></p>
						<p class="text-xl mb-5">
							The following Artists will perform LIVE:
						</p>
						<ol class="mb-5 text-lg">
							<li>
								01. Thinking Faculty TF - O'laga Port
								Genre: Langwabeat
							</li>

							<li>
								02. WhitneyZinny - Captured My Heart
								Genre: R&B
							</li>

							<li>
								03. Wizron - Ego
								Genre: Afrobeat
							</li>

							<li>
								04. Favour Lee - Sere Ft. Maya Skyler
								Genre: Afrobeat
							</li>

							<li>
								05. Maya Skyler - Falling for You
								Genre: R&B
							</li>

							<li>
								06. Chuzzykeys - Cradle
								Genre: Afrobeat
							</li>

							<li>
								07. Skillful Kennis SK - Anya-Anwu
								Genre: Hip Hop
							</li>

							<li>
								08. ZehkEzehk - LoveTonic
								Genre: AfroR&B
							</li>
						</ol>
						<p class="pt-5 text-xl">
							<b>Be there!</b>
						</p>

					</div>
					<!-- <div>
						<div class="inline-block align-bottom mr-5">
							<span class="text-2xl leading-none align-baseline">$</span>
							<span class="font-bold text-5xl leading-none align-baseline">59</span>
							<span class="text-2xl leading-none align-baseline">.99</span>
						</div>
						<div class="inline-block align-bottom">
							<button class="bg-yellow-300 opacity-75 hover:opacity-100 text-yellow-900 hover:text-gray-900 rounded-full px-10 py-2 font-semibold"><i class="mdi mdi-cart -ml-2 mr-2"></i> BUY NOW</button>
						</div>
					</div> -->
				</div>
			</div>
		</div>
	</div>

	<header class="relative landscape:flex landscape:flex-row-reverse">
		<Image loading="lazy" aspectRatio={1/1} width={1920} height={1920} class="water absolute left-0 top-0 w-screen h-screen portrait:h-full portrait:hidden" alt="Backtround" src="/images/webp/background.webp" />
		<div class="relative landscape:w-1/2 portrait:min-h-full landscape:h-screen flex-col justify-end align-middle text-center mt-20">
			<Image loading="lazy" width={1920} height={1080} class="water absolute left-0 top-0 w-screen h-screen portrait:h-full landscape:hidden" alt="Backtround" src="/images/webp/background.webp" />
			<figure class="h-1/4">
				<p class="text-3xl title p-4 marker">
					LastMessengerS Present
				</p>
				<img loading="lazy" class="pt-5 w-5/6 mx-auto" src="/images/webp/africa4africa.webp" alt="Africa4Africa" />
			</figure>
			<figure class="h-1/4">
				<img loading="lazy" class="w-2/3 landscape:pt-20 mx-auto" src="/images/webp/rise-n-shine.webp" alt="Rise-n-Shine" />
				<p class="p-4 font-semibold text-xl">
					Our debut Track Rise 'N' Shine by Africa4Africa group will release the 11th of November 2022 on all major Streaming Platforms. Keep Posted!
				</p>
			</figure>
			<figure class="h-1/4">
				<img loading="lazy" class="w-11/12 mx-auto" src="/images/webp/artists.webp" alt="Artists group" />
			</figure>
			<!-- <image loading="lazy" class="w-max" alt="Red Soil" src="/images/red-soil.jpg" /> -->
			<figure class="h-1/4">
				<img loading="lazy" class="w-11/12 mx-auto" alt="Official Release 11/11/2022 on Soundcloud, Apple Music, YouTube Musuc, Spotify & Audiomack" src="/images/webp/release.webp" />
			</figure>
		</div>

		<div class="landscape:w-1/2 landscape:h-screen landscape:p-10 landscape:mt-32 drop-shadow-md">
			<div class="content bg-black/20 text-white text-2xl rounded">
				<div class="aspect-w-16 aspect-h-9 mb-4">
					<iframe loading="lazy" class="" width="100%" height="100%" loading="lazy" src="https://www.youtube.com/embed/esWgldLXXZI" title="Africa4Africa - Rise 'n' (Shine Official videoclip) YouTube" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen ></iframe>
				</div>
				<h3 class="title marker text-4xl p-4 mt-10">
					Rise 'n' Shine Video Release!
				</h3>
				<p class="p-4">
					Africa4Africa - Rise 'N' Shine is a wake-up call for Africans to resurrect from their age-long backwardness and dependency on foreigners.
				</p>
				<p class="p-4">
					The singers urged Africans to pay adequate attention to the deceivers who are out to fool them again.
				</p>
			</div>
		</div>
	</header>


</BaseLayout>