---
// import { Image } from 'astro:assets';
import BrandFlag from '~components/ui/BrandFlag.astro';
import PageLayout from "@layouts/PageLayout.astro";
import Linkcasts from "@components/linkcasts/Linkcasts.astro"
import Album from "@components/music/Album.astro";
---

<PageLayout title="LastMessengerS - Artist Management Platform" image="/images/manifest/apple-touch-startup-image-2048x1496.png" description="Truth Based Music Management. Connecting Truthspreading Artists, with lucrative tools and fair management.">
		<section class="bg-cover bg-center w-full" style="background-image: url('https://source.unsplash.com/random?Stage%20performance');">
			<div class="bg-black/75 md:p-28 p-6 pt-24 text-left text-white">
				<div class="container mx-auto flex portrait:flex-col items-center gap-8">
					<div class="landscape:w-2/3">
						<BrandFlag responsive={false} />
						<h1 class="unstyled text-5xl font-medium my-8">Welcome to LastMessengerS.TV</h1>
						<p class="unstyled text-3xl mb-12"> LastMessengerS are restoring one of the ancient music values~TRUTH, by packaging messages as enjoyable songs targeting the curious ears of the general public. </p>
					</div>
					<div class="landscape:w-1/3 portrait:w-4/5 aspect-auto">
						<img src="https://source.unsplash.com/random?african%20popstar" class="h-72 w-3/4 object-cover rounded-xl" alt="Layout Image">
		  			</div>
				</div>
			</div>
		</section>

	<Linkcasts start={1} length={9} />

	<Album />

</PageLayout>