---
import { Image } from "@astrojs/image/components";
import { Avatar } from '@skeletonlabs/skeleton';
import Icon from 'astro-icon'
export let sectionClass = "w-1/2";
---

<div class="container bg-dark text-light pt-18">
	<div class="inline-grid gap-4 grid-cols-2">

		<div class="card overflow-hidden shadow-xl my-3 variant-glass-primary">
			<img src="/images/contacts/Ezehk-2.jpg" class="w-full"
			loading="lazy"
			alt="Ezekwesiri's Wallpaper Picture"
			width={640}
			aspectRatio={16/9} />
			<div class="flex justify-center -mt-8">
				<Avatar width="w-24" src="/images/contacts/Ezehk-1-7090-150x150.jpg" alt="Ezekwesiri's Wallpaper Picture" class="-mt-3" />
			</div>
			<div class="text-center px-3 pb-6 pt-2">
				<h3 class="text-white text-sm bold font-sans">Eng. Ezekwesiri E. Obioha</h3>
				<p class="text-white text-sm bold font-sans">CEO: ArtKids Foundation</p>
				<p class="mt-2 font-sans font-light text-white">
					e: <a href="mailto:info@artkidsfoundation.org"
					class="has-text-secondary"
					title="Email Eng. Ezekwesiri E. Obioha">info@artkidsfoundation.org</a>
					<br>
					t: <a href="tel:+234 (0)81 601 451 77"
					class="has-text-secondary"
					title="Call Eng. Ezekwesiri E. Obioha ">+234 (0)81 601 451 77</a>
				</p>
			</div>
			<div class="flex justify-center gap=4 pb-3 text 2xl">
				<a class="btn variant-glass-primary m-2" target="_blank" href="https://www.facebook.com/profile.php?id=100015798102483">
					<Icon pack="fa" name="facebook-official" />
				</a>
				<a class="btn variant-glass-primary m-2" target="_blank" href="https://www.linkedin.com/pub/engr-obioha-ezekwesiri-ict/2b/ab6/421">
					<Icon pack="fa" name="linkedin" />
				</a>
				<a class="btn variant-glass-primary m-2" target="_blank" href="https://twitter.com/ObiohaEzekwesir">
					<Icon pack="fa" name="twitter" />
				</a>
			</div>
		</div>

		<div class="card overflow-hidden shadow-xl my-3 variant-glass-primary">
			<img loading="lazy" src="/images/contacts/Biblequotes-Facebook-Shared-Image-Rastered-9-343x180.jpg"
			alt="Bas Bijlevelds's Wallpaper Picture"
			width={640}
			aspectRatio={16/9} class="w-full" style="background-color:#812d06;" />
			<div class="flex justify-center -mt-8">
				<Avatar width="w-24" src="/images/contacts/bas_profielfoto-150x150.jpg" alt="Profielfoto Bas Bijleveld" class="-mt-3" />
			</div>
			<div class="text-center px-3 pb-6 pt-2">
				<h3 class="text-white text-sm bold font-sans">Bastiaan M. Bijleveld</h3>
				<p class="text-white text-sm bold font-sans">Managing Director: ArtKids Foundation Europe</p>
				<p class="mt-2 font-sans font-light text-white">
					e: <a href="mailto:europe@artkidsfoundation.org"
					class="text-secondary"
					title="Email Bas Bijleveld">europe@artkidsfoundation.org</a>
					<br>
					t: <a href="tel:+31(0)6 285 86 335"
					class="text-secondary"
					title="Call Bas Bijleveld">+31(0)6 285 86 335</a>
				</p>
			</div>
			<div class="flex justify-center gap=4 pb-3 text 2xl">
				<a class="btn variant-glass-primary m-2" target="_blank" href="https://www.facebook.com/Basbijleveld">
					<Icon pack="fa" name="facebook-official" />
				</a>
				<a class="btn variant-glass-primary m-2" target="_blank" href="https://nl.linkedin.com/in/basbijleveld">
					<Icon pack="fa" name="linkedin" />
				</a>
				<a class="btn variant-glass-primary m-2" target="_blank" href="https://www.youtube.com/channel/UC6Kzb3a2xKltZCHdYtHsvcQ">
					<Icon pack="fa" name="youtube" />
				</a>
			</div>
		</div>

		<div class="card overflow-hidden shadow-xl my-3 variant-glass-primary">
			<img loading="lazy" src="/images/contacts/Biblequotes-Facebook-Shared-Image-Rastered-343x180.jpg"
			alt="Ezri's Wallpaper Picture"
			width={640}
			aspectRatio={16/9} class="w-full" style="background-color:#779aa8;" />
			<div class="flex justify-center -mt-8">
				<Avatar width="w-24" src="/images/contacts/Ezri_0.jpg" alt="Profielfoto Ezri" class="-mt-3" />
			</div>
			<div class="text-center px-3 pb-6 pt-2">
				<h3 class="text-white text-sm bold font-sans">Ezri D. Harmusial</h3>
				<p class="text-white text-sm bold font-sans">Director of International Business</p>
				<p class="mt-2 font-sans font-light text-white">
					e: <a href="mailto:international@artkidsfoundation.org"
					class="text-secondary"
					title="Email Ezri Harmusial">international@artkidsfoundation.org</a>
					<br>
					t: <a
					class="text-secondary"
					href="tel:+31(0)6 285 86 335" title="Call Ezri Harmusial">+31(0)6 285 86 335</a>
				</p>
			</div>
			<div class="flex justify-center gap=4 pb-3 text 2xl">
				<a class="btn variant-glass-primary m-2" target="_blank" href="https://www.facebook.com/ezriharmusial">
					<Icon pack="fa" name="facebook-official" />
				</a>
				<a class="btn variant-glass-primary m-2" target="_blank" href="https://nl.linkedin.com/in/ezri-harmusial">
					<Icon pack="fa" name="linkedin" />
				</a>
				<a class="btn variant-glass-primary m-2" target="_blank" href="https://twitter.com/ezriharmusial">
					<Icon pack="fa" name="twitter" />
				</a>
			</div>
		</div>

		<div class="card overflow-hidden shadow-xl my-3 variant-glass-primary">
			<img loading="lazy" src="/images/contacts/Biblequotes-Facebook-Shared-Image-Rastered-2-343x180.jpg"
			alt="Chibundu's Wallpaper"
			width={640}
			aspectRatio={16/9} class="w-full" style="background-color:#635c57;" />
			<div class="flex justify-center -mt-8">
				<Avatar width="w-24" src="/images/contacts/chibundu_mmeri_victory.jpg" alt="Profielfoto Chibundu" class="-mt-3" />
			</div>
			<div class="text-center px-3 pb-6 pt-2">
				<h3 class="text-white text-sm bold font-sans">Chibundu Mmeri Obioha</h3>
				<p class="text-white text-sm bold font-sans">Director: ArtKids Foundation Africa</p>
				<p class="mt-2 font-sans font-light text-white">
					e: <a href="mailto:africa@artkidsfoundation.org"
					class="text-secondary"
					title="Email Chibundu Mmeri Obioha">africa@artkidsfoundation.org</a>
					<br>
					t: <a href="tel:+234 (0)81 484 874 27"
					class="text-secondary"
					title="Call Chibundu Mmeri Victory">+234 (0)81 484 874 27</a>
				</p>
			</div>
			<div class="flex justify-center gap=4 pb-3 text 2xl">
			</div>
		</div>
	</div>
</div>