---
import BaseLayout from "~layouts/BaseLayout.astro";
---

<BaseLayout title="LastMessengerS - Message Sent " description="Discover all LastMessengerS and their Truth Unveiling Music">
<h1>Congratulations</h1>
<p>Your Message has been sent. Great success!</p>
</BaseLayout>