---
	import { getCollection } from 'astro:content';
	import { Image } from "@astrojs/image/components";

	const tracks = await Astro.glob('../pages/unity-album-2022/*.md');
    const artists = await getCollection('artists');

	const sortedTracks = tracks.filter(track => track.file != 'index.md').sort((a, b) => {
		let aOrder = a.frontmatter.order
		let bOrder = b.frontmatter.order

		if ( aOrder < bOrder )
			return -1
		if ( bOrder < aOrder )
			return 1
		return 0
	})

	const trackAndArtists = sortedTracks.map(track => mapArtist(track))

	function mapArtist(track) {
		const artist = artists.find(artist => artist?.data.discography == track.frontmatter.title)

		console.log('mapArtists:',artist)
		track.frontmatter.artist = {...artist?.frontmatter}
		return track
	}

	let player = {order: 3}
---

<div id="track-list">

	<header class="sticky top-0 text-xl bg-white dark:bg-black font-semibold mb-0 p-3">
		<h3><a href="/unity-album-2022/" aria-label="Unity Album info">Unity Album 2022</a> - Track List</h3>
	</header>

	<main>

	{trackAndArtists.map((track) => (
	<a href={track.url} role="button" class:list={["Track cursor-pointer", track.frontmatter.bgColor, track.frontmatter.color]} >
		<div class:list={["transition-colors duration-700 py-2 px-1 bg-white text-black hover:bg-slate-200/50 dark:bg-black dark:text-white dark:hover:bg-slate-800/50", track.frontmatter.order == player.order && track.frontmatter.bgColor + ' ' + track.frontmatter.color]}>
			<div class="media flex items-center sm:text-md lg:text-2xl">
				<figure class="w-4 h-4 mx-2 lg:w-5 lg:h-5 lg:mx-4 playstatus">
					<svg id="play-icon" width="19"viewBox="0 0 31 37" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" clip-rule="evenodd" d="M29.6901 16.6608L4.00209 0.747111C2.12875 -0.476923 0.599998 0.421814 0.599998 2.75545V33.643C0.599998 35.9728 2.12747 36.8805 4.00209 35.6514L29.6901 19.7402C29.6901 19.7402 30.6043 19.0973 30.6043 18.2012C30.6043 17.3024 29.6901 16.6608 29.6901 16.6608Z"/>
					</svg>

					<svg id="pause-icon" class="hidden" width="13" height="23" viewBox="0 0 24 36" xmlns="http://www.w3.org/2000/svg">
						<rect width="6" height="36" rx="3"/>
						<rect x="18" width="6" height="36" rx="3"/>
					</svg>
				</figure>
				<p class="w-4 h-4 mx-2 lg:w-6 lg:h-6 lg:mx-4">
					<span class="hover:hidden">
						{(track.frontmatter.order < 10) ? "0" + track.frontmatter.order : track.frontmatter.order}
					</span>
					<svg class="hidden hover:visible" id="play-icon" width="23" height="30" viewBox="0 0 31 37" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" clip-rule="evenodd" d="M29.6901 16.6608L4.00209 0.747111C2.12875 -0.476923 0.599998 0.421814 0.599998 2.75545V33.643C0.599998 35.9728 2.12747 36.8805 4.00209 35.6514L29.6901 19.7402C29.6901 19.7402 30.6043 19.0973 30.6043 18.2012C30.6043 17.3024 29.6901 16.6608 29.6901 16.6608Z"/>
					</svg>
				</p>
				<figure class="relative w-11 lg:w-12 xl:w-14 mr-2 lg:mr-4">
					<div class="lazy object-cover w-11 lg:w-12 xl:w-14 bg-gradient-to-br from-slate-900 to-black">
						<Image width={640} aspectRatio={1/1} alt={"Track Cover of " + track.frontmatter.artist + ' - ' + track.frontmatter.title } src={track.frontmatter.image} />
					</div>
				</figure>
				<div class="flex-grow">
					<p class="title font-semibold w-max truncate overflow-hidden">
						{track.frontmatter.title}
					</p>
					<p class="subtitle w-max truncate overflow-hidden">
						by {track.frontmatter.artist.title}
					</p>
				</div>
			</div>
		</div>
	</a>
	))}
	</main>
</div>
