---
import HeroFormDark from '~components/headers/HeroFormDark.astro';
import Contacts from '~components/contact/Contacts.astro';
import Share from '~components/ux/Share.astro';

let { title, subtitle, description, callToAction, image } = Astro.props?.data || Astro.props.frontmatter

// console.log(Astro.props)
---

<HeroFormDark>
	<h1 class="text-5xl md:text-6xl xl:text-7xl font-bold tracking-tight" style="color: hsl(218, 81%, 95%);">{title} <br /><span style="color: hsl(218, 81%, 75%);">{subtitle}</span></h1>
	<p class="opacity-70" style="color: hsl(218, 81%, 85%)">
		{description}
	</p>
</HeroFormDark>

	<div class="container mx-auto p-8 space-y-8">
		<slot />
		<hr />
		<Contacts />

		<section class="flex space-x-2">
			<Share />
		</section>
	</div>
