---
import HeroFormDark from '~components/headers/HeroFormDark.astro';
import Share from '~components/ux/Share.astro';

let { title, subtitle, description, callToAction, image } = Astro.props?.data || Astro.props.frontmatter

// console.log(Astro.props)
---

	<HeroFormDark />
	<div class="container mx-auto p-8 space-y-8">
		<h1>{title}</h1>
		<h2>{subtitle}</h2>
		<p>{description}</p>
		<hr />
		<section class="card card-hover p-4">
			<slot />
		</section>
		<hr />
		<section class="flex space-x-2">
			<Share />
		</section>
	</div>
