---
import { AppShell, AppBar } from '@skeletonlabs/skeleton'
import { useUserAgent } from "astro-useragent";
import { Icon } from "astro-icon";

import Footer from '../components/Footer.astro';
import PageNavList from '~components/ux/PageNavList.astro';

import BrandFlag from '~components/ui/BrandFlag.astro';
import SocialNav from '~components/ui/SocialNav.astro';
import PageTitle from '~components/ui/PageTitle.astro';
import NavSidebar from '~components/ui/NavSidebar.astro';
import BaseLayout from './BaseLayout.astro';

export interface Props {
    title: string;
    seoTitle?: string;
    description?: string;
    image?: string;
    imageAlt?: string;
}

// Conditional info
const uaString = Astro.request.headers.get("user-agent");

const { title, seoTitle, description, image, imageAlt } = (Astro.props?.data || Astro.props)
---

<BaseLayout title={seoTitle || title} description={description || imageAlt} image={image}>
        <AppShell slotSidebarLeft="dark:bg-surface-100-800-token light:bg-surface-800-100-token opacity-95 h-full portrait:pb-24 portrait:fixed portrait:left-0 portrait:top-20 portrait:bottom-0 z-20">
            <svelte:fragment slot="header">
            <AppBar background="dark:bg-surface-100-800-token light:bg-surface-800-100-token z-30" >
                <svelte:fragment slot="lead">
                    <BrandFlag />
                </svelte:fragment>
                <PageTitle title={title}/>
                <svelte:fragment slot="trail">
                    <label for="menuToggler" class={"navbar-burger btn w-10 h-10 variant-glass-primary btn-icon mx-auto"} data-target="navbarMenuHeroC">
                        <Icon pack="ph" name="list-bold" />
                    </label>
                    <!-- User Avatar Placeholder -->
                </svelte:fragment>
            </AppBar>
        </svelte:fragment>

        <!-- Sidebar -->
        <svelte:fragment slot="sidebarLeft">
        <NavSidebar />
        </svelte:fragment>

        <!-- Default Slot -->
        <slot />

        <!-- Page Footer -->
        <svelte:fragment slot="pageFooter">
            <footer class="m-8">
                <slot name="pageList">
                    <h3 class="font-bold">Website Pages</h3>
                    <div class="card card-hover p-4 space-y-4 w-1/3">
                        <PageNavList direction="horizontal" />
                    </div>
                </slot>
                <Footer />
            </footer>
        </svelte:fragment>

        <!-- Site Footer -->
        <!-- <svelte:fragment slot="footer">
        <SocialNav />
        </svelte:fragment> -->
        </AppShell>
    </div>

    <!-- Player -->
    <script src=" https://cdn.jsdelivr.net/npm/amplitudejs@5.3.2/dist/amplitude.min.js" is:inline></script>
</BaseLayout>