---
import { AppShell, AppBar  } from '@skeletonlabs/skeleton'
import MediaPlayer from '@components/mediaplayer/MediaPlayer.svelte'
import { useUserAgent } from "astro-useragent";
import { Icon } from "astro-icon";

import Fonts from '../components/head/Fonts.astro';
import SEO from '../components/head/SEO.astro';
import seoSettings from '../content/settings/_seo.yml';
import siteSettings from '../content/settings/_settings.yml';

import { getCollection } from 'astro:content';
import BrandFlag from '~components/ui/BrandFlag.astro';
import PageTitle from '~components/ui/PageTitle.astro';
import NavSidebar from '~components/ui/NavSidebar.astro';
import BaseLayout from './BaseLayout.astro';

const artists = await getCollection('artists')
const albums = await getCollection('albums')
const tracks = await getCollection('tracks')

export interface Props {
    title: string;
    seoTitle?: string;
    description: string;
    image?: string;
    imageAlt?: string;
    currentTrack?: any;
}

// Conditional info
const uaString = Astro.request.headers.get("user-agent");
const { isMobile } = useUserAgent(uaString);

const { theme } = siteSettings
const { title, seoTitle, description, image, imageAlt, currentTrack } = (Astro.props?.data || Astro.props)
//console.log('BaseLayout:', title)
---
<BaseLayout title={title} description={description} image={image}>
        <AppShell slotSidebarLeft="dark:bg-surface-100-800-token light:bg-surface-800-100-token opacity-95 h-full portrait:pb-24 portrait:fixed portrait:left-0 portrait:top-20 portrait:bottom-0 z-20">
            <svelte:fragment slot="header">
            <AppBar background="dark:bg-surface-100-800-token light:bg-surface-800-100-token z-30" >

                    <svelte:fragment slot="lead">
                        <BrandFlag />
                    </svelte:fragment>
                    <PageTitle title={title}/>
                    <svelte:fragment slot="trail">
                        <label for="menuToggler" class={"navbar-burger btn w-10 h-10 variant-glass-primary btn-icon mx-auto"} data-target="navbarMenuHeroC">
                            <Icon pack="ph" name="list-bold" />
                        </label>
                        <!-- Reserverd for User Avatar -->
                    </svelte:fragment>
                </AppBar>
            </svelte:fragment>

            <!-- Sidebar -->
            <svelte:fragment slot="sidebarLeft">
                <NavSidebar />
            </svelte:fragment>

            <!-- Default Slot -->
            <slot />

            <!-- Site Footer -->
            <svelte:fragment slot="footer">
                <!-- MediaPla<yer data={{artists: artists, albums: albums, tracks: tracks, start_song: currentTrack }} transition:persist client:load/> -->
            </svelte:fragment>
        </AppShell>
    </div>
</BaseLayout>