---
import { Image } from "astro:assets";
let { responsive = true } = Astro.props
let responsiveClass = responsive ? 'portrait:hidden' : 'portrait:block'
---

<a class="flex flex-shrink items-center hover:text-yellow-400 focus-text-gray-900 dark:hover:text-yellow-400 dark:focus:text-gray-100 mx-auto" href="/">
    <!-- {$player.track?.alignImage == 'right'  ? 'ml-1 md:ml-2 -scale-x-100' : '} -->
    <figure class="image transition-all duration-500 m-0 p-0 w-10 xs:w-8 lg:w-14 xl:w-16">
        <Image loading="lazy" width={48} height={48} class="drop-shadow-2xl" src="/images/red-black-purple-gold-with-sun.svg" alt="LastMessengers Home"/>
    </figure>
    <h1 class="unstyled marker transition-colors text-left duration-500 text-lg font-bold leading-3 md:text-xl md:leading-4 lg:text-2xl xl:text-3xl lg:leading-5 xl:leading-7 drop-shadow-xl  hover:text-yellow-400 focus-text-gray-900  dark:hover:text-yellow-400 dark:focus:text-gray-100">
        <span class={responsiveClass}>
            <span class="block">Last</span><span>MessengerS</span>
        </span>
    </h1>
</a>