---
import PageNavList from "~components/ux/PageNavList.astro";
import Search from "@components/ux/Search.svelte";
import { LightSwitch } from "@skeletonlabs/skeleton";
const response = await fetch(Astro.url.origin + "/api/v1/pages.json");
const searchData = await response.json();
---

<!-- for toggling functionality. Should be at the same level as navbar-menu -->
<input type="checkbox" id="menuToggler" class="menuToggler !hidden" />
<div class="navbar-menu flex flex-col justify-between h-full">
    <PageNavList />

    <div class="flex flex-col">
        <!-- Search Component -->
        <Search data={searchData} client:load />

        <!-- Lightswitch -->
        <div
            class="btn lightswitch variant-soft-surface w-full rounded-none flex flex-col"
        >
            <div class="w-10 h-10">
                <LightSwitch client:load />
            </div>
            <span> Mode</span>
        </div>
    </div>
</div>

<style is:global>
    /* We don't need checkbox to be displayed in order for it to work */
    .menuToggler {
        display: none;
    }

    /*  Displays menu when menuToggler is checked only on mobile/tablet */
    @media screen and (max-width: 1023px) {
        .menuToggler:checked ~ .navbar-menu {
            display: flex !important;
        }

        .menuToggler:checked ~ .navbar-menu .lightswitch {
            margin-bottom: 5rem;
        }

        /* We don't want menu to be displayed on mobile by default */
        .navbar-menu {
            display: none !important;
        }
    }

    @media screen and (min-width: 1024px) {
        .navbar-burger {
            display: none !important;
        }
    }

    [astro-icon] {
        min-width: 1rem;
    }
</style>
