---
const { title } = (Astro.props?.data || Astro.props)
---
<p class="unstyled transition-colors duration-500 text-center font-semibold text-xl leading-4 md:text-2xl md:leading-5 lg:text-3xl xl:text-4xl lg:leading-7 xl:leading-9 drop-shadow-2xl text-black hover:text-yellow-400 focus-text-gray-900 dark:text-white dark:hover:text-yellow-400 dark:focus:text-gray-100">
    {title}
</p>